[Unit]
Description=Notifications from Google Calendar

[Service]
ExecStart=/bin/bash -a -c "source ${pygcal_root_path}/pygcal_environ.sh && exec ${pygcal_exe_path}"
Restart=always
RestartSec=5400

[Install]
WantedBy=default.target