[Unit]
Description=Notifications from Google Calendar

[Service]
ExecStart=/home/robertc/Git/python-gcalendar-notify/pygcal-notify
Restart=always
RestartSec=5400

[Install]
WantedBy=default.target